<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>心绪健康指数</title>
    <script src="/static/js/echarts.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="/static/js/d3.v4.min.js"></script>
    <script
      type="text/javascript"
      src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"
    ></script>
  </head>
  <body
    style="
      background-color: #000000;
      text-align: center;
    "
  >
    <div
      style="
        position: relative;
        top: 80px;
        color: white;
        font-size: 45px;
        font-family: Microsoft YaHei;
      "
    >
      GCYY 心绪指数
    </div>
    <div
      style="
        position: relative;
        top: 100px;
        color: rgb(153, 153, 153);
        font-size: 32px;
        font-family: Microsoft YaHei;
      "
    >
      Golden Centre of Yin & Yang
    </div>
    <div
      id="main"
      style="
        width: 900px;
        height: 850px;
        font-size: 12px;
        background-color: rgb(38, 38, 38);
        border-radius: 2em;
        position: relative;
        text-align: center;
        top: 140px;
        margin: 0 auto;
      "
    ></div>

    <div
      style="
        position: relative;
        top: 100px;
        width: 900px;
        margin: 0 auto;
      "
    >
      <div
        style="
          position: relative;
          text-align: left;
          left: 200px;
          color: white;
          font-size: 30px;
          /* background-color: rgb(9, 201, 89); */
          width: 300px;
          top: 90px;
        "
      >
        <img src="/static/img/heartbrate.png" />
        心率
      </div>
      <div
        style="
          position: relative;
          text-align: center;
          color: white;
          font-size: 30px;
          top: 50px;
          /* background-color: rgb(9, 201, 89); */
          width: 300px;
          left: 300px;
        "
      >
        <img src="/static/img/highpressure.png" />
        高压
      </div>
      <div
        style="
          position: relative;
          text-align: left;
          top: 43px;
          left: 500px;
          margin: 0 auto;
          color: white;
          font-size: 30px;
          top: 10px;
          /* background-color: rgb(9, 201, 89); */
          width: 300px;
          left: 280px;
        "
      >
        <img src="/static/img/lowpressure.png" />
        低压
      </div>
    </div>

    <br />

    <div
      id="main-2"
      style="
        width: 900px;
        height: 850px;
        font-size: 12px;
        background-color: rgb(38, 38, 38);
        border-radius: 2em;
        position: relative;
        text-align: center;
        top: 140px;
        margin: 0 auto;
      "
    ></div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div
      id="main-3"
      style="
        width: 900px;
        height: 2850px;
        font-size: 12px;
        background-color: rgb(38, 38, 38);
        border-radius: 2em;
        position: relative;
        text-align: center;
        top: 110px;
        margin: 0 auto;
      "
    >
      <div
        style="
          text-align: left;
          font-size: 46px;
          width: 850px;
          height: 300px;
          margin: 0 auto;
          line-height: 70px;

          color: rgb(255, 255, 255);
          position: relative;
          top: 50px;
        "
      >
        <div
          style="
            text-align: center;
            font-size: 45px;
            line-height: 100px;
          "
        >
          GCYY介绍
        </div>

        <div
          style="
            font-size: 42px;
            text-indent: 1.5em;
            line-height: 100px;
          "
        >
          1. 数据流的整合表征
        </div>
        <div
          style="
            font-size: 40px;
            text-indent: 1.5em;
          "
        >
          脉诊手表检测到的数据流可以表示为，横向N个参数，纵向M个取值。
          横向N个参数可以用它们的几何均值整合表征，因此，“横向N个参数，纵向M个取值”可以表示为“M个几何均值”
        </div>

        <div
          style="
            font-size: 42px;
            text-indent: 1.5em;
            line-height: 100px;
          "
        >
          2. 守恒数据流
        </div>
        <div
          style="
            font-size: 40px;
            text-indent: 1.5em;
          "
        >
          计算机之父冯诺依曼指出，稳定的过程可以预测，不稳定的过程只能控制。
          调整N个参数（例如，取某个参数的倒数），纵向排除异常值，使剩余的几何均值之间的定量差异小于定量差异的最小阈值，称为系统守恒。满足系统守恒的几何均值称为时中（golden
          center,
          GC）。时中守恒的说明存在稳定过程，用于计算时中的参数相对完整
        </div>
        <div
          style="
            font-size: 42px;
            text-indent: 1.5em;
            line-height: 100px;
          "
        >
          3. GCYY
        </div>
        <div
          style="
            font-size: 40px;
            text-indent: 1.5em;
          "
        >
          用于时中计算的参数中，从疾病到健康，上升的参数称为阳性参数，下降的参数称为阴性参数，两类参数相互平衡，所有参数的几何均值满足系统守恒。
          将阴性参数取倒数，然后再与阳性参数联合计算几何均值，称为健康标尺（GC
          of yin and yang,
          GCYY）。从疾病到健康，GCYY增加。GCYY表征了参数之间的互动，对于健康人，GCYY还表征所讨论的参数的互动所反映的心绪，GCYY增加、下降或不变是心绪变好、变坏或不变
        </div>

        <div
          style="
            font-size: 42px;
            text-indent: 1.5em;
            line-height: 100px;
          "
        >
          4. GCYY的解读
        </div>
        <div
          style="
            font-size: 40px;
            text-indent: 1.5em;
          "
        >
          按照冯诺依曼的思想，稳定的过程可以预测，不稳定的过程只能控制。
          如果GCYY有明显的增加、下降或不变，表示机体处于稳定过程，表示健康人的心绪变好、变坏或不变，或者表示患者的健康变好、变坏或不变。
          如果GCYY没有明显的增加、下降或不变，只是较大的波动，表示机体处于不稳定过程，只能用习惯性行为来控制。所谓习惯性行为，就是用生物节律固定下来的行为，也就是经常重复的行为，例如，拿筷子吃饭。习惯性行为的水平越高，控制效果越好
        </div>
      </div>
    </div>
    <script>
      //   var oBtn = document.querySelector("button");
      //   oBtn.addEventListener("click", function () {
      //     console.log("---click1---");
      //     wx.miniProgram.navigateTo({
      //       url: "/path/to/page",
      //     });
      //     console.log("---click2---");
      //   });
      // function click(error, dalta) {
      //   wx.miniProgram.reLaunch({
      //     url: "https://www.baidu.com/",
      //   });
      // }
      var timeset = []; //数组初始化
      var data_heart = [];
      var data_pressure_low = [];
      var data_pressure_high = [];
      var data_rr = [];
      let data = [];
      //获取csv对象
      // d3.csv(
      d3.csv(
        // "http://127.0.0.1/datasource/?IMEI_number={{IMEI_number}}",
        "/static/csv/1.csv",
        // "/static/csv/{{personal_report}}",
        // "https://download.getway.sinso.io/sinso/6dfc888c043494f1c0fb8af5453bb70f45bd805760502339de1edf998dbe80e3",
        function (error, csvdata) {
          console.log("raw data:", csvdata);
          if (error) {
            console.log(error);
          } else {
            // debugger;
            for (
              var i = 0;
              i < csvdata.length;
              i++
            ) {
              timeset.push(
                new Date(csvdata[i].时间)
              );
              data.push([
                +new Date(
                  csvdata[i].time.replace(
                    /-/g,
                    "/"
                  )
                ),
                csvdata[i].GCYY * 100000,
              ]);
              data_heart.push([
                +new Date(
                  csvdata[i].time.replace(
                    /-/g,
                    "/"
                  )
                ),
                +csvdata[i].心率,
              ]);
              data_pressure_low.push([
                +new Date(
                  csvdata[i].time.replace(
                    /-/g,
                    "/"
                  )
                ),
                +csvdata[i].低压,
              ]);
              data_pressure_high.push([
                +new Date(
                  csvdata[i].time.replace(
                    /-/g,
                    "/"
                  )
                ),
                +csvdata[i].高压,
              ]);
              data_rr.push([
                +new Date(
                  csvdata[i].time.replace(
                    /-/g,
                    "/"
                  )
                ),
                +csvdata[i].RR,
              ]);
            }

            console.log(data_heart);

            var myChart = echarts.init(
              document.getElementById("main"),
              null,
              { renderer: "svg" }
            );
            var myChart2 = echarts.init(
              document.getElementById("main-2"),
              null,
              { renderer: "svg" }
            );

            option = {
              tooltip: {
                trigger: "axis",
                position: function (pt) {
                  return [pt[0], "10%"];
                },
              },

              // legend: {
              //   data: [
              //     "GCYY", // "RR",
              //   ],
              //   top: "4%",
              //   textStyle: {
              //     //图例文字的样式
              //     color: "#DEDEDE",
              //     fontSize: 20,
              //   },
              // },
              title: {
                left: "center",
                // text: "water_data_select_out - GCYY Chart",
                text: "",
              },
              toolbox: {
                feature: {
                  dataZoom: {
                    yAxisIndex: "none",
                  },
                  restore: {},
                  saveAsImage: {},
                },
              },
              xAxis: {
                type: "time",
                boundaryGap: false,
                axisLabel: {
                  fontSize: "20",
                  // fontFamily: "微软雅黑",
                  marginTop: "35px",
                  show: true,
                  color: "white",
                },
              },
              yAxis: {
                type: "value",
                boundaryGap: [0, "100%"],
                interval: 50,
                min: 900,
                max: 1600,
                axisLabel: {
                  fontSize: "20",
                  // fontFamily: "微软雅黑",
                  marginTop: "35px",
                  show: true,
                  color: "white",
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "#999999",
                    width: 1,
                    type: "solid",
                  },
                },
              },
              // dataZoom: [
              //   {
              //     type: "inside",
              //     start: 0,
              //     end: 100,
              //   },
              //   {
              //     start: 0,
              //     end: 20,
              //   },
              // ],
              series: [
                {
                  name: "GCYY",
                  type: "line",
                  smooth: true,
                  symbol: "none",
                  // areaStyle: {},
                  data: data,
                  color: "white",

                  itemStyle: {
                    normal: {
                      lineStyle: {
                        color: "#47D7FF",
                      },
                    },
                  },
                },
              ],
            };

            option_2 = {
              tooltip: {
                trigger: "axis",
                position: function (pt) {
                  return [pt[0], "10%"];
                },
              },
              // title: {
              // 	left: 'center',
              // 	text: 'GCYY Chart'
              // },
              // legend: {
              //   data: [
              //     "心率",
              //     "低压",
              //     "高压",
              //     // "RR",
              //   ],
              //   top: "4%",
              //   title: {
              //     left: "center",
              //     // text: "water_data_select_out - GCYY Chart",
              //     text: "",
              //   },
              //   textStyle: {
              //     //图例文字的样式
              //     color: "#FFFFFF",
              //     fontSize: 28,
              //   },
              // },
              toolbox: {
                feature: {
                  dataZoom: {
                    yAxisIndex: "none",
                  },
                  restore: {},
                  saveAsImage: {},
                },
              },
              xAxis: {
                type: "time",
                boundaryGap: false,
                axisLabel: {
                  fontSize: "20",
                  // fontFamily: "微软雅黑",
                  marginTop: "35px",
                  show: true,
                  color: "white",
                },
              },
              yAxis: {
                type: "value",
                boundaryGap: [0, "100%"],
                interval: 10,
                min: 40,
                max: 160,
                axisLabel: {
                  fontSize: "20",
                  // fontFamily: "微软雅黑",
                  marginTop: "35px",
                  show: true,
                  color: "white",
                },
                splitLine: {
                  show: true,
                  lineStyle: {
                    color: "#999999",
                    width: 1,
                    type: "solid",
                  },
                },
              },
              // dataZoom: [
              //   {
              //     type: "inside",
              //     start: 0,
              //     end: 100,
              //   },
              //   {
              //     start: 0,
              //     end: 20,
              //   },
              // ],
              series: [
                {
                  name: "心率",
                  type: "line",
                  smooth: true,
                  symbol: "none",
                  // areaStyle: {},
                  data: data_heart,
                  itemStyle: {
                    normal: {
                      lineStyle: {
                        color: "#00FF7F",
                      },
                    },
                  },
                },
                {
                  name: "低压",
                  type: "line",
                  smooth: true,
                  symbol: "none",
                  // areaStyle: {},
                  data: data_pressure_low,
                  itemStyle: {
                    normal: {
                      lineStyle: {
                        color: "#BCBCBC",
                      },
                    },
                  },
                },
                {
                  name: "高压",
                  type: "line",
                  smooth: true,
                  symbol: "none",
                  // areaStyle: {},
                  data: data_pressure_high,
                  itemStyle: {
                    normal: {
                      lineStyle: {
                        color: "#A75EFF",
                      },
                    },
                  },
                },
                // {
                //   name: "RR",
                //   type: "line",
                //   smooth: true,
                //   symbol: "none",
                //   // areaStyle: {},
                //   data: data_rr,
                // },
              ],
            };

            // option = {
            // 	xAxis: {
            // 		type: 'category',
            // 		data: timeset
            // 	},
            // 	yAxis: {
            // 		type: 'value'
            // 	},
            // 	series: [
            // 		{
            // 		data: numset1,
            // 		type: 'line',
            // 		smooth: true
            // 		}
            // 	]
            // };

            myChart.setOption(option);
            myChart2.setOption(option_2);
            window.addEventListener(
              "resize",
              function () {
                myChart.resize();
              }
            );
            window.addEventListener(
              "resize",
              function () {
                barChart.resize();
              }
            );
          }
        }
      );
    </script>
  </body>
</html>
