<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>心绪健康指数</title>
    <script src="/static/js/echarts.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="/static/js/d3.v4.min.js"></script>
    <script
      type="text/javascript"
      src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"
    ></script>
  </head>
  <body
    style="
      background-color: rgb(0, 0, 0);
      text-align: center;
    "
  >
    <div
      style="
        position: relative;
        top: 70px;
        color: white;
        text-align: center;
        font-size: 48px;
      "
    >
      GCYY健康报告
    </div>
    <div
      style="
        text-align: left;
        font-size: 36px;
        width: 850px;
        height: 450px;
        margin: 0 auto;
        line-height: 50px;
        text-indent: 2em;
        color: rgb(255, 0, 0);
        position: relative;
        top: 270px;
      "
    >
      抱歉!您的手表所采集的数据不合格,
      请佩戴超1小时后再次尝试获取报告
    </div>

    <br />
    <br />

    <div
      style="
        text-align: left;
        font-size: 36px;
        width: 850px;
        height: 450px;
        margin: 0 auto;
        line-height: 50px;
        text-indent: 2em;
        color: rgb(255, 255, 255);
        position: relative;
        top: 60px;
      "
    >
      GCYY 全称为“Golden Centre of Yin & Yang”。
      中文全称为“心绪健康指数”。
      其计算源自非二科技首席算法科学家刘承宜教授独家专利授权算法。
      心绪健康指数基础原理来自韦伯费希纳定律与诺特定律，基本原理有两点:
      1,主观感受与客观参数成对数关系;
      2,有阴阳就一定有对称性。
      非二将连续的心率、血压等心绪管参数统一定量整合后,得出GCYY心绪健康指数,GCYY指数越高,心绪就越健康
    </div>
  </body>
</html>
